<!DOCTYPE html>
<html lang="en" data-theme="dark"></html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Of Mouth</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" 
    rel="stylesheet" 
    type="text/css" 
    />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" 
    rel="stylesheet" 
    type="text/css" 
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <!-- Header and Navigation Bar for the Site -->
    <header class="">
      <div class="navbar bg-primary text-primary-content">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Word Of Mouth</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            <li><a href="/profile">Profile</a></li>
            <li><a>Groups</a></li>
            <li><a>About</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a>Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- <div class="text-center">
        <h1 class=""><a href="/profile">Word Of Mouth</a></h1>
        <span>Share reviews with friends and family</span>
      </div> -->
      <!-- <nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="logo" src="../../imgs/cover.png" alt="Reading Circle" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/post">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#about-us">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
              </li>
            </ul>

          </div>
        </div>
      </nav> -->
    </header>
  </body>
</html>
