<%- include('partials/header') -%>
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content">
      <div class="max-w-2xl">
        <h1 class="text-2xl lg:text-5xl font-bold text-center">Word of Mouth's Purpose</h1>
        <p class="py-6">Word of Mouth's primary purpose is to help exchange reviews from people that you know and trust. Often times when reading a review there are a number of questions you may have about 
            the review or the reviewer. How much time will this experience take? Does the reviewer usually like this kind of food or content? Is it possible the reviewer wasn't knowledgeable in the product at all? 
            By exchanging reviews with people you know, you gain a lot of the answers for the questions noted prior. 
            <br>
            <br>
            The secondary purpose of Word of Mouth is to share your interests with your community. Are you a gamer, a movie-buff, a foodie?
            Well as you create more reviews on your profile, your groups will be able to see what you like and enjoy. They also may decide to check out some of things you are into and may get surprised with a new interest or hobby
        </p>
        <a href="/login"><button class="btn btn-primary">Get Started</button></a>
      </div>
    </div>
</div>
<%- include('partials/footer') -%>