<%- include('partials/header') -%>

<main class="">


  <!-- Hero section -->
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Welcome to Word of Mouth!</h1>
        <h2 class="text-2xl font-bold py-6">Share reviews with your friends, families, or any other close-knit community you are a part of.</h2>
        <p class="py-6">Saw a good movie or ate at a good restaurant you like? Share the experince with your friends on Word of Mouth. The next time they are looking for recommendations they can come here to see what you thought</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
  </div>

</main>
    

<%- include('partials/footer') -%>