<%- include('partials/header') -%>
<form action="/post/createPost" enctype="multipart/form-data" method="POST">
<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">

      <!-- Review Header Description Section -->
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-bold leading-6">Review Header</h3>
          <p class="mt-1">Title your review and give a short summary</p>
        </div>
      </div>

      <!-- Review Header Section -->
      <div class="mt-5 md:col-span-2 md:mt-0">
          <div class="form-control shadow sm:overflow-hidden sm:rounded-md">
            <div class="space-y-6 bg-neutral px-4 py-5 sm:p-6">
              <div class="grid grid-cols-3 gap-6">
                <div class="form-control w-full max-w-lg grid col-span-3">
                  <label for="title" class="label">
                    <span class="label-text">Title</span>
                  </label>
                  <input type="text" placeholder="Review Title" class="input input-bordered input-primary w-full max-w-lg text-sm" id="title" name="title"/>
                </div>
              </div>


              <div class="form-control">
                <label for="summary" class="label">
                  <span class="label-text">Summary</span>
                </label> 
                <textarea class="textarea textarea-primary" rows="2" placeholder="Review Summary" id="summary" name="summary"></textarea>
              </div>
  
              <div class="form-control">
                <label for="imgUpload" class="label">
                  <span class="label-text">Image</span>
                </label> 
                <input type="file" class="form-control" id="imageUpload" name="file"/>
              </div>
  
            </div>
            <div class="bg-neutral-content px-4 py-3 text-right sm:px-6">
              <!-- <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button> -->
            </div>
          </div>
      </div>
    </div>
</div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-accent"></div>
    </div>
  </div>

  <!-- Second Section of the Form -->
  
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">

          <!-- Review Body Description -->
          <h3 class="text-lg font-bold leading-6">Review Body</h3>
          <p class="mt-1 text-md">This is where you give personality to your review</p>
          <h4 class="mt-4 text-md font-bold underline">Questions you should answer in your review</h4>
          <ul class="mt-2 text-sm">
            <li>Why are you sharing this review?</li>
            <br>
            <li>What did you like?</li>
            <br>
            <li>What did you dislike?</li>
            <br>
            <li>What is the recommended audience?</li>
            <br>
            <li>What is the amount of time invested(if applicable)?</li>
            <br>
            <li>Was this something in line with your usual interests or was it different?</li>
          </ul>
        </div>
      </div>

      <!-- Review Body Section -->
      <div class="mt-5 md:col-span-2 md:mt-0">
          <div class="bg-neutral overflow-hidden shadow sm:rounded-md">
            <div class="px-4 py-5 sm:p-6">
              <div class="">
                <div class="form-control">
                  <label for="review" class="label">
                    <span class="label-text">Review</span>
                  </label> 
                  <textarea class="textarea textarea-primary" placeholder="Review" rows="10" id="review" name="review"></textarea>
                </div>
              </div>
            </div>
            <div class="bg-neutral-content px-4 py-3 text-right sm:px-6">
              <!-- <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button> -->
            </div>
          </div>
        <script>
          CKEDITOR.replace( 'review' );
      </script>
      </div>
    </div>
  </div>
  
  <!-- Divider Between Sections -->
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-accent"></div>
    </div>
  </div>


  <!--Third Section of the Form -->
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">

      <!-- Rating and Category Description -->
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-bold leading-6">Rating and Category</h3>
          <p class="mt-1 text-md">Categorize your review and give a rating</p>
        </div>
      </div>

      <!-- Rating and Category Section -->
      <div class="mt-5 md:col-span-2 md:mt-0">
          <div class="bg-neutral overflow-hidden shadow sm:rounded-md">
            <div class="space-y-6 px-4 py-5 sm:p-6">
              <div class="form-control w-full max-w-xs">
                <label for="category" class="label">
                  <span class="label-text">Category</span>
                </label>
                <select class="select select-primary" id="category" name="category">
                  <option disabled selected>Pick a category</option>
                  <option>Food and Drink</option>
                  <option>Experience</option>
                  <option>Gaming</option>
                  <option>Movie</option>
                  <option>Music</option>
                  <option>Other</option>
                  <option>Podcast</option>
                  <option>Product</option>
                  <option>Restaurant</option>
                  <option>Service</option>
                  <option>TV Show</option>
                  <option>Venue</option>
                </select>
              </div>

              <div class="form-control w-full max-w-xs"> 
                <label for="rating" class="label">
                  <span class="label-text">Rating</span>
                </label>
                <div class="rating rating-lg rating-half">
                  <input type="radio" name="rating" value="0" class="rating-hidden" />
                  <input type="radio" name="rating" value="1" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                  <input type="radio" name="rating" value="2" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                  <input type="radio" name="rating" value="3" class="bg-yellow-500 mask mask-star-2 mask-half-1" checked />
                  <input type="radio" name="rating" value="4" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                  <input type="radio" name="rating" value="5" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                  <input type="radio" name="rating" value="6" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                  <input type="radio" name="rating" value="7" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                  <input type="radio" name="rating" value="8" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                  <input type="radio" name="rating" value="9" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                  <input type="radio" name="rating" value="10" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                </div>
              </div>

            </div>
            <div class="bg-neutral-content px-4 py-3 text-right sm:px-6">
              <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" value="Upload">Submit Review</button>
            </div>
          </div>
      </div>
    </div>
</div>
</form>
  <%- include('partials/footer') -%>