
@media (max-width: 768px) {
  #laptop-nav{
    display: none;
  }

  #cards-laptop{
    display: none;
  }

  #group-reviews-laptop{
    display: none;
  }
}

@media (min-width: 768px) {
  #mobile-nav{
    display: none;
  }

  #cards-mobile{
    display: none;
  }

  #group-reviews-mobile{
    display: none;
  }
}

@media (max-width: 1538px) {
  #members-laptop{
    display: none;
  }
}

@media (min-width: 1537px) {
  #members-mobile{
    display: none;
  }
}